<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Subscriber</title>
</head>
<body class="container">
    {% csrf_token %}
    <nav class="navbar navbar-expand-lg navbar-light" id="ulFont">
    <div class="icon">
        <img id=iconNavbar src="https://i.imgur.com/4IswSyG.png">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
        <li class="{% if activetab == 'landingpage' %}active{% endif %} nav-item ">
            <a class="nav-link" href="{% url 'landingpage' %}">Landing Page <span class="sr-only">(current)</span></a>
        </li>
        <li class="{% if activetab == 'profilepage' %}active{% endif %} nav-item">
            <a class="nav-link" href="{% url 'profilepage' %}">Profile</a>
        </li>
        <li class="{% if activetab == 'subscriberpage' %}active{% endif %} nav-item">
            <a class="nav-link" href="{% url 'subscriberpage' %}">Subscriber</a>
        </li>
        </ul>
    </div>
</nav>

    <h2><span class="count">List Subscriber</span></h2>
    <br>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></body>
    <script src="{% static 'js/home.js' %}"></script>

</body>
</html>