<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/subs.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="ulFont">
    <div class="icon">
        <img id=iconNavbar src="https://i.imgur.com/4IswSyG.png">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
        <li class="{% if activetab == 'landingpage' %}active{% endif %} nav-item ">
            <a class="nav-link" href="{% url 'landingpage' %}">Landing Page <span class="sr-only">(current)</span></a>
        </li>
        <li class="{% if activetab == 'profilepage' %}active{% endif %} nav-item">
            <a class="nav-link" href="{% url 'profilepage' %}">Profile</a>
        </li>
        <li class="{% if activetab == 'subscriberpage' %}active{% endif %} nav-item">
            <a class="nav-link" href="{% url 'subscriberpage' %}">Subscriber</a>
        </li>
        </ul>
    </div>
</nav>

<div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form class="contact-form validate-form" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.name }}
                            <span class="focus-input"></span>
                            </div>
                            <div class="wrap-input validate-input" data-validate="Valid email is required" data-validate2="Email already registered">
                                {{ form.email }}
                                <span class="focus-input"></span>
                                <br>
                            </div>
                            <div class="wrap-input validate-input" data-validate="Password is required">
                                {{ form.password }}
                                <span class="focus-input"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="btnsub" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'media/signup-image.jpg' %}" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>

<div class="container" id="initabel">
    <br>
    <h2><span class="count">List Subscriber</span></h2>
    <br>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col" style="text-align: center">Unsubscribe</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <br>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></body>
<script src="{% static 'js/subs.js' %}"></script>
</body>
</html>