<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
    <h2 id="loading">Loading....</h2>
  </div>

<body class="loads" style="background-color:rgb(183, 225, 230) ">
        <nav class="navbar navbar-expand-lg navbar-light" id="ulFont">
                <div class="icon">
                        <img id=iconNavbar src="https://i.imgur.com/4IswSyG.png">
                    </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="{% if activetab == 'landingpage' %}active{% endif %} nav-item ">
                        <a class="nav-link" href="{% url 'landingpage' %}">Landing Page <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="{% if activetab == 'profilepage' %}active{% endif %} nav-item">
                        <a class="nav-link" href="{% url 'profilepage' %}">Profile</a>
                    </li>
                    <li class="{% if activetab == 'subscriberpage' %}active{% endif %} nav-item">
                        <a class="nav-link" href="{% url 'subscriberpage' %}">Subscriber</a>
                    </li>
                    </ul>
                </div>
            </nav>
    <div class=''>
        <form class="" action='/post-status/' method='POST'>
            <h2 class="margin-y text-center">Hello, Apa Kabar?</h2>
            <hr id="line">
            {% csrf_token %}
            {% for field in form %}
                <div id= 'formbox'>
                    {{ field.label_tag}}
                    {{ field }}
                </div>
                
            {% endfor %}
            <div id="button" class="input2 text-center margin-y"><button id='submit' type="submit" class="btn">Post Status</button>
        </div>
    </form>
    <br>
    <div  id="toms" class="btn-group toms">
        <button id="tombolubahtema" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ubah Tema
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" id="tema1">Tema 1</a>
            <a class="dropdown-item" href="#" id="tema2">Tema 2</a>
        </div>
      </div>
      <br>
      <br>
      <br>
</div>

    {% if status %}
        {% for result in status %}
            <div class='box'>
                <article>{{ result.status }}</article>
                <h4 style="font-size: 13px">Diunggah pada: {{ result.date }}</h4>
            </div>
        {% endfor %}
    {% else %}
        <article class="text-center margin-y" style="margin-bottom: 3%">Belum Ada Status</article>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/tulisan.js' %}"></script>
</body>
</html>