.loads {
    overflow: hidden;
  }
  
  #loading {
      margin: auto;
      display: block;
      text-align: center;
      margin: 28%;
  }
  
  /* Preloader */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
  }

.body {
    background-image: url("http://www.designbolts.com/wp-content/uploads/2013/02/Floral-Grey-Seamless-Pattern-For-Website-Background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    image-resolution: 50%;
    display: block;
    margin: auto;
}

.kotak {
    display: block;
    margin: auto;
    background-color: rgba(250, 237, 128, 0.8);
    margin-top: 3%;
    font-family: 'Chewy', cursive;
    width: 40%;
    text-align: center;
}

.dalam-kotak {
    padding: 3% 3%;
}

.tombol a {
    display: block;
    margin: auto;
    background-color: #47525E;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    width: 100px;
    padding: 1%;
    font-family: 'Lato', sans-serif;
}

.tombol button {
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.toms {
    margin: auto !important;
    display: block !important;
    position: inherit !important;
    text-align: center !important;
}


.accordion {
    display: block !important;
    margin: auto !important;
    margin-left: 35%;
	background: linear-gradient(to bottom right, white, #F8F8F8);
	max-width: 400px;
	background: white;
	margin: 0 auto;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
}

.accordion-header:hover {
	background: #F6F7F9;
}

.accordion-content {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}

.accordion-header::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.accordion-header::before {
	background-color: #FC6468;
}

nav {
    background-color: #FFD4F7 !important;
    width: 100%;
}

.icon {
    padding-left: 2%;
    padding-top: 0.20%;
}

#iconNavbar {
    width: 150px;
    height: auto;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #343F4B;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #DB7093;
}

.active {
    color: #ccc;
}

#padding_img {
    padding: 3% 0% 0% 5%;
    max-width: 30%;
    height: auto;
}

#navText {
    padding-left: 10%;
    color: #47525E;
    font-family: 'Chewy', cursive;
}

#ulFont {
    font-family: 'Lato', sans-serif;
}

/* untuk landing page*/
#line {
    background-color: #F884B6;
    width: 270px;
    height: 8px;
    margin-top: -10px;
    margin-bottom: 3%;
}

#formbox {
    display: flex !important;
    flex-direction: column !important;
    width: 50%;
    margin: auto;

}

input {
    border: 4px solid #8492A6;
    border-radius: 6px;
    padding: 1.5% 1% 1.5% 1%;
}

.margin-y {
    margin-top: 2%;
}

.ketengah {
    margin-left: 42%;
    display: block;

}

.box {
    background-color: white;
    margin: 3% 40% 0% 40%; 
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    justify-content: center;
    width: 20%;
    display: block;
}
