<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dina's</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/tulisan.js' %}"></script>   
</head>

<body class="body">
    <nav class="navbar navbar-expand-lg navbar-light" id="ulFont">
            <div class="icon">
                <img id=iconNavbar src="https://i.imgur.com/4IswSyG.png">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                <li class="{% if activetab == 'landingpage' %}active{% endif %} nav-item ">
                    <a class="nav-link" href="{% url 'landingpage' %}">Landing Page <span class="sr-only">(current)</span></a>
                </li>
                <li class="{% if activetab == 'profilepage' %}active{% endif %} nav-item">
                    <a class="nav-link" href="{% url 'profilepage' %}">Profile</a>
                </li>
                <li class="{% if activetab == 'subscriberpage' %}active{% endif %} nav-item">
                    <a class="nav-link" href="{% url 'subscriberpage' %}">Subscriber</a>
                </li>
                </ul>
            </div>
        </nav>
   
    <img id="padding_img" src="https://i.imgur.com/MkNFFRg.png">  
    <div>
        <img class="img" src="https://i.imgur.com/exVWp7e.jpg" width="20%" height="20%">
    </div>
    <div class="kotak" id='kotak'>
        <p class="dalam-kotak" id='dalam-kotak'>Saya adalah mahasiswi jurusan Sistem Informasi Fakultas Ilmu Komputer
            di Universitas Indonesia. Saya saat ini sedang menjalani semester 3.</p>
    </div>
    <div class="tombol">
        <a href="https://www.instagram.com/falahdinaprilia">Kontak</a>
    </div>

    <br>
    <div id="accordion" class="accordion">
        <h3>Aktivitas</h3>
        <div>
            <p>Saat ini aktivitas saya adalah belajar PPW.</p>
        </div>
        <h3>Organisasi dan Kepanitiaan</h3>
        <div>
            <p>1.   BEM Media Fasilkom UI</p>
            <p>2.   Staff Dokumentasi COMPFEST X</p>
        </div>
        <h3>Prestasi</h3>
        <div>
            <p>1.   Juara umum lomba Video Motivasi seSumatera Barat di Universitas Andalas ( kelompok )</p>
            <p>2.   juara I Lomba Fotografi dalam Seminar Fotografi UNAND tingkat SMA se-Kota Padang</p>
            <p>3.   juara 2 lomba film FLS2N tingkat Kota Padang</p>
        </div>
    </div>
    <br>
    <br>

</body>
</html>